<div class="password edit">
  <h1><span>Change your password</span></h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "New Password" %>
      <% if @minimum_password_length %>
        <span class="helper"><%= @minimum_password_length %> characters minimum</span>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true,  class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true,  class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Change password", class: "btn" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
