<!DOCTYPE html>
<html>
<head>
  <title>W.A.G.E : APPLY</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body id="<%= controller.controller_name + "-" + controller.action_name  %>">
    <%= render '/site/nav' %>
    <main>
      <% if current_page?(new_user_registration_path) %>
      <%= render '/site/intro' %>
      <% end %>
      <% if notice %>
        <p class="notice">* <%= notice %></p>
      <% elsif alert %>
        <p class="alert">* <%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
